<div class="mainDiv"> 
  <div class ="topDiv">
    <h1 class="title">Portfolio</h1>
  </div>
  <div class="contentArea">
    <section class="socialDiv">
      <p class="name">Kim Wilbert Guades Santiago</p>
      <div class="icon">
        <span><a href="https://www.instagram.com/kimmmsantiago/"><img src="../assets/instagram.png" alt="Twitter"></a></span>
        <span><a href="https://twitter.com/Burpling00"><img src="../assets/twitter.png" alt="Twitter"></a></span>
        <span><a href="https://www.youtube.com/channel/UCMh5JtqyG48xAYcriI1pTFw"><img src="../assets/youtube.png" alt="Twitter"></a></span>
      </div>
    </section>
    <section class="mainContentDiv">
        <div class="summContent">
          <mat-card class="summ">
            <ul>
              <li>21 years old</li>
              <li>Aspiring Web Developer</li>
              <li>Cycling Enthusiast</li>
              <li>Videographer and Editort</li>
              <li>Landscape Photographer</li>
            </ul>
          </mat-card>
        </div> 
      <div class="resumeDiv">
        <button mat-raised-button>My Resume</button>
      </div>
    </section>
  </div>

</div>